Repository wisamidris77/kavi_ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, ci/cd, dependencies, ui, backend, android, ios, web, windows, macos, linux, core, config

.github/labeler.yml:

# Configuration for PR labeler action
# Automatically adds labels based on file changes

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**'
  - '.github/**.md'

# Test changes
test:
  - 'test/**'
  - '**/*_test.dart'

# CI/CD changes
ci/cd:
  - '.github/workflows/**'
  - '.github/actions/**'

# Dependencies
dependencies:
  - 'pubspec.yaml'
  - 'pubspec.lock'

# UI/Frontend changes
ui:
  - 'lib/presentation/**'
  - 'lib/widgets/**'
  - 'lib/screens/**'

# Backend/Domain changes
backend:
  - 'lib/domain/**'
  - 'lib/providers/**'
  - 'lib/services/**'

# Platform specific
android:
  - 'android/**'

ios:
  - 'ios/**'

web:
  - 'web/**'

windows:
  - 'windows/**'

macos:
  - 'macos/**'

linux:
  - 'linux/**'

# Core changes
core:
  - 'lib/core/**'
  - 'lib/main.dart'

# Configuration
config:
  - '*.yaml'
  - '*.yml'
  - '*.json'
  - '.env*'

lkj
  lib/presentation/chat/chat_ai_page.dart
  lib/presentation/chat/widgets/chat_message_bubble.dart
  lib/presentation/widgets/message_editing.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, ui, config

lkj
  example/ollama_usage_example.dart
  lib/core/chat/chat_message.dart
  lib/core/chat/mcp_ai_chat_service.dart
  lib/core/chat/provider_ai_chat_service.dart
  lib/domain/domain.dart
  lib/domain/models/chat_message_model.dart
  lib/domain/models/chat_message_model.g.dart
  lib/domain/models/chat_model.dart
  lib/domain/models/chat_model.g.dart
  lib/domain/models/chat_role.dart
  lib/domain/services/ai_chat_service.dart
  lib/mcp/service/mcp_integration_service.dart
  lib/presentation/chat/chat_ai_page.dart
  lib/presentation/chat/controller/chat_history_controller.dart
  lib/presentation/chat/widgets/chat_message_bubble.dart
  lib/presentation/chat/widgets/chat_messages_list.dart
  lib/presentation/widgets/message_bookmarks.dart
  lib/presentation/widgets/message_editing.dart
  lib/presentation/widgets/message_group.dart
  lib/presentation/widgets/message_pinning.dart
  lib/presentation/widgets/message_search.dart
  lib/presentation/widgets/thread_view.dart
  lib/providers/factory/ai_provider_factory.dart
  lib/providers/ollama/ollama_chat_provider.dart
  lib/providers/ollama/ollama_model_manager.dart
  lib/providers/ollama/ollama_provider.dart
  pubspec.lock
Labels: dependencies, ui, backend, core

lkj
  lib/core/chat/mock_ai_chat_service.dart
  lib/core/providers/provider_health_checker.dart
  lib/core/theme/app_theme.dart
  lib/core/theme/color_scheme_manager.dart
  lib/domain/models/chat_model.dart
  lib/domain/services/ai_chat_service.dart
  lib/main.dart
  lib/mcp/client/mcp_client_service.dart
  lib/mcp/service/mcp_integration_service.dart
  lib/presentation/chat/chat_ai_page.dart
  lib/presentation/chat/controller/chat_history_controller.dart
  lib/presentation/chat/widgets/chat_message_bubble.dart
  lib/presentation/chat/widgets/chat_sidebar.dart
  lib/presentation/chat/widgets/enhanced_chat_input.dart
  lib/presentation/mcp/mcp_tools_page.dart
  lib/presentation/splash/splash_screen.dart
  lib/presentation/widgets/code_block_widget.dart
  lib/presentation/widgets/command_palette.dart
  lib/presentation/widgets/message_bookmarks.dart
  lib/presentation/widgets/message_editing.dart
  lib/presentation/widgets/message_group.dart
  lib/presentation/widgets/message_pinning.dart
  lib/presentation/widgets/message_reactions.dart
  lib/presentation/widgets/message_search.dart
  lib/presentation/widgets/thread_view.dart
  lib/providers/anthropic/anthropic_provider.dart
  lib/providers/cohere/cohere_provider.dart
  lib/providers/deepseek/deepseek_provider.dart
  lib/providers/deepseek/deepseek_provider_streaming.dart
  lib/providers/factory/ai_provider_factory.dart
  lib/providers/google/gemini_provider.dart
  lib/providers/mistral/mistral_provider.dart
  lib/providers/mock/mock_provider.dart
  lib/providers/ollama/ollama.dart
  lib/providers/openai/openai_provider.dart
  lib/settings/models/app_settings.dart
Labels: ui, backend, core

lkj
  analysis_options.yaml
  lib/core/chat/mcp_ai_chat_service.dart
  lib/core/chat/provider_ai_chat_service.dart
  lib/core/providers/provider_health_checker.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, core, config

lkj
  devtools_options.yaml
  lib/core/chat/chat_message.dart
  lib/presentation/chat/widgets/chat_message_bubble.dart
  lib/presentation/widgets/message_editing.dart
  lib/presentation/widgets/message_reactions.dart
Labels: ui, core, config

Update chat_sidebar.dart
  lib/presentation/chat/widgets/chat_sidebar.dart
Labels: ui

Update chat_sidebar.dart
  lib/presentation/chat/widgets/chat_sidebar.dart
Labels: ui

mnb
  lib/presentation/chat/chat_ai_page.dart
  lib/presentation/chat/controller/chat_history_controller.dart
  lib/presentation/chat/widgets/chat_message_bubble.dart
  lib/presentation/chat/widgets/chat_messages_list.dart
  lib/presentation/mcp/mcp_tools_page.dart
  lib/presentation/widgets/message_reactions.dart
  pubspec.lock
  pubspec.yaml
  test/langchain_test.dart
Labels: test, dependencies, ui, config
